
<%= form_tag('/contact', :method => :post, :class => "well") do %>
  <label>Name</label>
  <%= text_field_tag 'message[name]', '', :class => 'span3' %>
  <label>Email</label>
  <%= text_field_tag 'message[email]', '', :class => 'span3' %>
  <label>Message</label>
  <%= text_area_tag 'message[body]', '', :rows => 5, :class => 'span3' %>
  <br />
  <%= submit_tag "Message Away!", :class => "btn" %>
<% end %>