<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Who Goes First?</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A simple webapp for deciding who goes first when playing a boardgame">
  <meta name="author" content="David Underwood">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="span12">
        <% flash.each do |name, msg| %>
          <%= content_tag :div, :class => "alert #{name == :error ? "alert-error" : "alert-success" }" do %>
            <a class="close" data-dismiss="alert" href="#">×</a>
            <%= msg %>
          <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <h2>Add your own rule</h2>
        <%= render "rules/form" %>
      </div>
      <div class="span4">
        <h2>About</h2>
        <%= render "common/about" %>
      </div>
      <div class="span4">
        <h2>Give Feedback</h2>
        <%= render "contact/form" %>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; David Underwood 2012</p>
    </footer>
  </div>
</body>
</html>
